# Ignore environment variables
.env

# Ignore Python cache and artifacts
__pycache__/
*.pyc

# Ignore Python virtual environments
venv/

# Ignore VS Code folders
.vscode/

# Ignore Windows-specific files
Thumbs.db
